In [ ]:
''''Name - vaibhav belekar
    Roll No - 20998
    College Name - AGC (SDBI)
    Class - F.Y. BSc Data Science
    Subject - Principles of Programming Language''''

<h2>Assignment 3 : TUPLE

## Q1 Max and Min

In [17]:
t = (3, 7, 1, 9, 4)
max_value = t[0]
min_value = t[0]
for i in t:
    if i > max_value:
        max_value = i
    if i < min_value:
        min_value = i
print("Max =", max_value)
print("Min =", min_value)

Max = 9
Min = 1

## Q2 Count occurrences

In [2]:
t = (1, 2, 3, 2, 1, 3, 2)
freq = {}
for i in t:
    freq[i] = freq.get(i, 0) + 1
print(freq)

{1: 2, 2: 3, 3: 2}

## Q3 Join tuple strings

In [3]:
t=('Hello','World','Python')
result=''
for word in t:
    result+=word
print(result)

HelloWorldPython

## Q4 Sum of even numbers

In [5]:
t = (1, 2, 3, 4, 6)
sum_even = 0
for i in t:
    if i % 2 == 0:
        sum_even += i
print(sum_even)

12

<h2>5. Remove duplicates

In [6]:
t = (1, 2, 2, 3, 4, 4)
unique = tuple(set(t))
print(unique)

(1, 2, 3, 4)

<h2>SET B

1. Second largest element

In [7]:
t = (10, 20, 30, 40)
unique = list(set(t))
unique.sort()
print(unique[-2])

30

<h2>2. Sort tuple of tuples by second element

In [8]:
t = ((1, 5), (3, 2), (2, 8))
print(tuple(sorted(t, key=lambda x: x[1])))

((3, 2), (1, 5), (2, 8))

<h2>3. Check all elements unique

In [9]:
t = (1, 2, 3, 4)
print(len(t) == len(set(t)))

True

<h2>4. Swap first and last element

In [10]:
t = (1, 2, 3, 4)
t = (t[-1],) + t[1:-1] + (t[0],)
print(t)

(4, 2, 3, 1)

<h2>SET C

1. Common elements between two tuples

In [11]:
t1 = (1, 2, 3)
t2 = (2, 3, 4)
print(tuple(set(t1) & set(t2)))

(2, 3)

<h2>2. Tuple of squares from 1 to n

In [12]:
n = int(input("Enter n: "))
print(tuple(i*i for i in range(1, n+1)))

Enter n:  34

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156)