In [ ]:
''''Name - vaibhav belekar
    Roll No - 20998
    College Name - AGC (SDBI)
    Class - F.Y. BSc Data Science
    Subject - Principles of Programming Language''''

<h2>Assignment 4 : SET

## Q1 Union, Intersection, Difference

In [5]:
a={1,2,3}
b={3,4,5}
print('Union:',a|b)
print('Intersection:',a&b)
print('Difference:',a-b)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}

## Q2 Subset check

In [6]:
print({1,2}.issubset({1,2,3}))

True

## Q3 Remove duplicates

In [7]:
lst=[1,2,2,3,3,4]
print(list(set(lst)))

[1, 2, 3, 4]

## Q4 Elements in first not in second

In [8]:
print({1,2,3,4}-{3,4})

{1, 2}

## Q5 Disjoint

In [9]:
print({1,2}.isdisjoint({3,4}))

True

<h2>SET B

1. Symmetric difference

In [10]:
set1={1,2,3,4}
set2={3,4,5,6}
result=set1^set2
print(result)

{1, 2, 5, 6}

<h2>2. Add multiple elements

In [2]:
s = {1, 2}
s.update([3, 4, 5])
print(s)

{1, 2, 3, 4, 5}

<h2>3. length and membership

In [3]:
print(len(s))
print(3 in s)

5
True

<h2>SET C

Sentence operations

In [4]:
s1 = set(input().split())
s2 = set(input().split())
print("Common:", s1 & s2)
print("Only first:", s1 - s2)
print("Only second:", s2 - s1)

 kanda batata
 batat

Common: set()
Only first: {'kanda', 'batata'}
Only second: {'batat'}